{% extends 'adminbase.html.twig'%}

{% block body %}


<ol class="breadcrumb">
    <li class="breadcrumb-item">
        <a href="#">Dashboard</a>
    </li>
    <li class="breadcrumb-item active">Listing des reservation</li>
</ol>
<div class="">
    <h1 style="background: linear-gradient(rgba(59, 160, 243, 0.986),rgba(36, 140, 236, 0.938));" class="alert bg-primary text-secondary text-light h-50 h4">reservation </h1><br>
    <div class=" ">
        <div class=" ">
            <div class="">
                {% for message in app.flashes('success') %}
                    <div class="alert alert-success">
                        {{ message  }}
                    </div>
                {% endfor %}
                <table class=" table table-striped  text-light">
                    <thead>
                    <tr class="">
                        <td class="text-primary">Numero</td>
                        <td class="text-danger">Nom</td>
                        <td class="text-warning">Téléphone </td>
                        <td class="text-success">Email </td>
                        <td class="text-secondary">Méssage</td>
                        <td class="text-dark">titre du DVD </td>
                        <td class="text-primary">date </td>
                        <td class="text-danger">supprimer</td>
                    </tr>
                    </thead>
                    <tbody class="bg-dark">
                    {% for reservation in reservations %}
                        <tr>
                            <td>{{ reservation.id }}</td>
                            <td>{{ reservation.iduser.username | upper }}</td>
                            <td>{{ reservation.iduser.telephone }}</td>
                            <td>{{ reservation.iduser.email | upper }}</td>
                            <td>{{ reservation.message }}</td>
                            <td>{{ reservation.idproduit.titre | upper}}</td>
                            <td> {{ reservation.date | date() | upper}} </td>
                            <td>
                                <form action="{{ path('reservation.delete', {'id' : reservation.id}) }}" class="d-inline-block" onsubmit="return confirm('Etes vous vraiment sur de vouloir supprimé')">
                                    <button class="btn text-danger"><i class="fa fa-trash"></i></button>
                                </form>
                            </td>
                        </tr>
                    {% endfor  %}
                    </tbody>
                </table>
            </div>

        </div>

    </div>

</div>

{% endblock %}