{% extends 'base.html.twig' %}

{% block body %}

    <div class="my-5">
        <div class=" container">
            <div class="row">
                <div class="col-md-7">
                    <div class="row">

                        <img class="w-75" src="/img/index7.jpg">
                        <div class="col-md-5">
                            <h2 class="display-4">{{ property.titre }}</h2>
                            <h5 class="">{{ property.datesortiAt | date('d-m y') }}  Mise ajour le {{ property.datecreationAt |  date('d/m/y') }}  </h5>
                            <h2 class="" style="">{{ property.prix }} F CFA</h2>
                            <div class="btn btn-outline-danger">Contacter l'agence</div>
                        </div>
                    </div>

                </div>

                <div class="col-md-5">
                    <h2>Caractéristiques du film </h2>
                    <table class="table table-striped">
                        <tr>
                            <td>Acteurs</td>
                            <td>{{ property.acteurs }}</td>
                        </tr>
                        <tr>
                            <td>realisateur</td>
                            <td>{{ property.realisateur }}</td>
                        </tr>
                        <tr>
                            <td>Categori</td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>Producteur</td>
                            <td>{{ property.producteur }}</td>
                        </tr>
                        <tr>
                            <td>Origine</td>
                            <td>{{ property.origine }}</td>
                        </tr>
                        <tr>
                            <td>Description</td>
                            <td>
                                <p>
                                    {{ property.description | nl2br }}
                                </p>
                            </td>
                        </tr>
                    </table>
                </div>

            </div>

        </div>

    </div>
<div class="container ">

    <div class=" row">


        <div class="col-md-4">
            <h2> spécificité </h2>
        </div>
    </div>

</div>


{% endblock %}